<nav>
    <img src="../../../../assets/brown-digital-menu-logo.png" alt="Logomarco com ilustração de um talhares fazendo formato rendondo envolvendo o nome da empres 'Culinary Hunter'. Cor da fonte: Marrom escuro">

    <ul>
        <li>
            <a href="">Nosso Endereço</a>
        </li>

        <li>
            <a href="">Cardápio</a>
        </li>

        <li>
            <a href="">Quem Somos</a>
        </li>

        <li>
            <button (click)="openCart()"><i class="fa-solid fa-cart-shopping"></i></button>
        </li>
    </ul>
</nav>
