<div class="about-us-content">
    <div class="image">
        <img src="../../../../assets/whoweare.svg" alt="">
    </div>

    <div class="info">
        <h1>Quem Somos — Sonho que virou sabor</h1>

        <p>
            O que era apenas uma panela no fogão virou o sonho de uma vida inteira. Começamos servindo marmitas no bairro, e a cada
            elogio, a vontade de crescer aumentava. Hoje, abrimos as portas do nosso cantinho com orgulho, mantendo a essência da
            comida feita com alma.
        </p>

        <p>
            Nosso espaço é simples, mas cheio de afeto — do jeitinho que a gente sonhou. Aqui, cada cliente é recebido como parte da
            família. E pra quem prefere saborear de casa, pode ficar tranquilo: nossa entrega é rápida, e a comida chega quentinha,
            com o mesmo carinho e sabor de quem veio comer aqui na mesa da gente.
        </p>

        <p>
            Porque, onde quer que você esteja, o nosso tempero é feito pra te fazer sentir em casa.
        </p>
    </div>
</div>