<main>
    <header>
        <app-header></app-header>
    </header>

    <app-banner></app-banner>

    <div class="container-categories-btn">
        @for (category of categories; track category) {
            <app-category-button [NameCategory]="category"></app-category-button>
        }

    </div>

    <div class="search">
        <app-search-field (termoPesquisado)="onSearch($event)"></app-search-field>
    </div>

    <section class="container-pratos">
        @if (pratosFiltrados.length > 0) {
            @for (prato of pratosFiltrados; track prato) {
                <div class="prato">
                    <img [src]="prato.foto_prato" alt="Foto do prato: {{prato.foto_prato}}">
                    <h2>{{prato.nome}}</h2>
                    <p>{{prato.descricao}}</p>
                    <p class="category">{{prato.categoria}}</p>
                    <p class="price">{{prato.preco |  currency:'BRL' }}</p>
                </div>
            }
        } @else {
            @for (prato of pratos; track prato) {
                <div class="prato">
                    <h2>{{prato.nome}}</h2>
                    <p>{{prato.descricao}}</p>
                    <p class="category">{{prato.categoria}}</p>
                    <p>{{prato.preco}}</p>
                </div>
            }
        }
        
    </section>
</main>
