main {
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 100px;

    .container-categories-btn {
        display: flex;
        flex-direction: row;

        gap: 15px;

        width: 100%;
        margin: 1.3% 0;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .search{
        width: 100%;
        margin-bottom: 2%;
    }

    .container-pratos{
        width: 100%;
        height: 400px;
        background-color: rgb(186, 186, 212);

        display: flex;
        flex-direction: row;
        gap: 30px;

        div{
            width: 200px;
            height: 200px;
            padding: 0 20px;
            background-color: #d6d6d6;
        }
    }
}

@media (max-width: 768px) {
    main {
        .container-categories-btn {
            margin: 20px 0;
        }

        .search{
            margin-bottom: 2.5%;
        }
    }
}