<main>
    <header>
        <app-header></app-header>
    </header>

    <app-banner></app-banner>

    <div class="container-categories-btn">
        @for (category of categories; track category) {
            <app-category-button [NameCategory]="category"></app-category-button>
        }

    </div>

    <div class="search">
        <app-search-field (termoPesquisado)="onSearch($event)"></app-search-field>
    </div>

    <section class="container-pratos">
        @if (pratosFiltrados.length > 0) {
            @for (prato of pratosFiltrados; track prato) {
                <app-prato-card
                    [nome]="prato.nome"
                    [descricao]="prato.descricao"
                    [pratoFoto]="prato.foto_prato"
                    [preco]="prato.preco"
                    [categoria]="prato.categoria"
                ></app-prato-card>
            }
        } @else {
            @for (prato of pratos; track prato) {
                <app-prato-card
                    [nome]="prato.nome"
                    [descricao]="prato.descricao"
                    [pratoFoto]="prato.foto_prato"
                    [preco]="prato.preco"
                    [categoria]="prato.categoria"
                ></app-prato-card>
            }
        }
        
    </section>
</main>
