main {
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 100px;

    .container-categories-btn {
        display: flex;
        flex-direction: row;

        gap: 15px;

        width: 100%;
        margin: 1.3% 0;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .search {
        width: 100%;
        margin-bottom: 2%;
    }

    .container-pratos {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 5px;

        div {
            width: 20%;
            height: auto;
            padding-right: 40px;

            img{
                height: 250px;
                border-radius: 10px;
            }

            h2{
                margin: 0;
                text-transform: uppercase;
                font-size: 1rem;
            }

            p{
                margin: 6px 0;
            }

            .price{
                color: darkgreen;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        .container-categories-btn {
            margin: 20px 0;
        }

        .search {
            margin-bottom: 10%;
        }

        .container-pratos{
            flex-wrap: wrap;


            div{
                width: 100%;
                padding: 0;

                img{
                    width: 100%;
                    height: 300px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}