<section class="banner">
    <article class="art-img">
        <img src="../../../assets/banner.jpg" alt="Foto do ambiente externo do restaurante.">
    </article>

    <article class="art-info">
        <h1>Culinary Hunter Restaurant</h1>

        <p>
            <i class="fa-solid fa-phone"></i>
            (81)90000-1111
        </p>

        <p>
            <i class="fa-solid fa-location-dot"></i>
            Rua Um, Dois - PE
        </p>

        <p>
            <i class="fa-regular fa-circle-dot"></i>
            8:00 - 23:00
        </p>

        <div>
            <button>
                <i class="fa-solid fa-download"></i>
                Salvar Contato
            </button>

            <hr>

            <button>
                <i class="fa-solid fa-share-from-square"></i>
                Compartilhar Contato
            </button>
        </div>
    </article>
</section>