<mat-dialog-actions >
    <div>
        <h2 mat-dialog-title>Seu carrinho</h2>
        <span>({{pratosArray.length}})</span>
    </div>
    <button mat-button mat-dialog-close (click)="closeCarrinho()" title="Fechar carrinho">
        <i class="fa-solid fa-xmark"></i>
    </button>
</mat-dialog-actions>

<mat-dialog-content>
    @if (pratosArray.length > 0) {
        @for (prato of pratosArray; track prato) {
            <div>
                <p>{{prato.nome}}</p>
                <p class="price">{{prato.preco | currency: 'BRL'}}</p>
                <button class="remove-btn" (click)="remove(prato.nome)">
                    <i class="fa-solid fa-trash-can"></i>
                    Remover
                </button>
            </div>
        }
        <hr>
        <h3>{{total | currency:'BRL' }}</h3>
    } @else {
     <p>Seu carrinho está vazio</p>
     <p>Escolha um de nossos pratos deliciosos, adicione o carrinho e receba!</p>
    }
</mat-dialog-content>